.container {
  max-width: 900px;
  margin: 0 auto;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 22px;
}

.form-container > div {
  margin-bottom: 22px;
  grid-row: 6 / 7;
}

.form-container > div > img {
  width: 100%;
}

@media (min-width: 860px) {
  .form-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-container > div {
    grid-row: 1 / 5;
    grid-column: 2 / 2;
  }
}
